// Colors

$primary-gray: #313237;
$secondary-gray: #89939A;
$buttons-border-gray: #b4bdc3;
$border-color: #E2E6E9;

// Distances

$container-padding--mobile: 16px;
$container-padding--tablet: 24px;
$container-padding--desktop: 32px;
$heder-height-mobile: 48px;
$heder-height-desktop: 64px;

// Product colors

$rose-gold: #FCDBC1;
$midnight: #42464c;
$space-gray: #535150;
$space-black: #1E2124;
$blue: #427690;
$pink: #fae2dc;
$yellow: #fef397;
$purple: #e6dcea;
$silver: #E2E3E4;
$gold: #F4E8CE;
$white: #F3F3F3;
$black: #2E3034;
$coral: #FF6E5A;
$green: #AEE1CD;
$midnightgreen: #4E5851;
$graphite: #52514D;
$pacificblue: #2D4E5C;
$starlight: #FAF6F2;
$alpinegreen: #576856;
$sierrablue: #A4B8C4;
$deeppurple: #4E2A6D;
$red: #FF3B30;
$skyblue: #A4D7E1;
